logs/
.vscode/
__debug_bin*
.kube-linter/

# Kube-linter binaries and archives
kube-linter
kube-linter-*.tar.gz
kubelinter.log

# Private files from deployments
**/smee-channel-id.yaml
**/*.env
**/*.pem
