# Related to your GitHub App
# (See also deploy-pac-github-secret.sh)
APP_ID="1234567"
PATH_PRIVATE_KEY="/path/to/some.private-key.pem"
WEBHOOK_SECRET="somesecret"

# Related your Quay.io org
# (See also deploy-quay-push-secret.sh)
QUAY_ORG="someorg"
QUAY_TOKEN="sometoken"
QUAY_CREDENTIAL_FILE="/path/to/some.dockerconfig.json"
