<!DOCTYPE html>

<html>
<head>
<title>GitHub integration setup</title>
</head>

<body>
    <h1>GitHub integration setup</h1>
    {{ template "error_list.gohtml" . }}
    <p>GitHub App registration status: {{.AppRegState}}
    {{ if .AppRegState.Is "Unconfigured" }}
        {{ template "gh_app_form.gohtml" . }}
    {{ end }}
</body>
</html>
