<!DOCTYPE html>

<html>
<head>
<title>GitHub App setup</title>
</head>

<body>
<h1>GitHub App setup</h1>
<p>GitHub App setup status: Unconfigured
<form>
<p>Clicking the button below will redirect you to GitHub to complete the 
GitHub app creation process.
<p><button type="submit">Configure GitHub App</button>
<form>
</body>
</html>
