# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
# Ignore kind config files (used for local testing, not needed in operator image)
kind-config*.yaml
